@{
    ViewBag.Title = "Standard ASP.NET MVC actions";
}
<h2>Standard ASP.NET MVC actions</h2>
<p>
    You can still add controllers and actions where need and they'll work as expected. ControllerLess works as
    an enhancement to the standard ASP.NET MVC conventions, not a replacement.</p>
<pre>
public class Example1Controller : Controller
{
    // ActionResult Example1a() is not required.
<mark>
    public ActionResult Example1b()
    {
        return View();
    }
</mark>}
</pre>