@{
    ViewBag.Title = "ControllerLess views in areas";
}
<h2>ControllerLess views in areas</h2>
<p>
    This is the core functionality of the ControllerLess plug-in</p>
<p>
    Create as many views as you want and continue using the Razor syntax, all without adding a 
    single view controller.</p>
<p>All that's needed it to update your area registration to use the ControllerLessRouteHandler.</p>
<pre>
public override void RegisterArea(AreaRegistrationContext context)
{
    var route = new Route(
        "Custom/{controller}/{action}/{id}",
        new RouteValueDictionary(new { area = "Custom", controller = "Home", action = "Index", id = UrlParameter.Optional }),
        new ControllerLessRouteHandler());

    context.Routes.Add(route);
}
</pre>