@{
    ViewBag.Title = "ControllerLess views";
}
<h2>ControllerLess views</h2>
<p>
    This is the core functionality of the ControllerLess plug-in</p>
<p>
    Create as many views as you want and continue using the Razor syntax, all without adding a 
    single view controller.</p>
<p>All that's needed it to update your route configuration to use the ControllerLessRouteHandler.</p>
<pre>
public static void RegisterRoutes(RouteCollection routes)
{
    routes.IgnoreRoute("{resource}.axd/{*pathInfo}");

    var route = new Route(
                "{controller}/{action}/{id}",
                new RouteValueDictionary(new { controller = "Home", action = "Index", id = UrlParameter.Optional }),
                <mark>new ControllerLessRouteHandler());</mark>

    routes.Add(route);
}
</pre>