@{
    ViewBag.Title = "Home Page";
}

<p class="lead">
    Demonstrating the funcionality included in the ControllerLess plug-in for ASP.NET MVC.
</p>
<p>
    Click on the links in the menu on the left-hand side to test the ControllerLess functionality.
    <ul>
        <li>Home - A standard MVC page with a controller and Index action.</li>
        <li>Page without a controller - No controller exists for this view or any of its actions.</li>
        <li>Action with a controller - A controller exists for this view and this action.</li>
        <li>Action without a controller - A controller exists for this view but not for this action.</li>
    </ul>
</p>