@{
    ViewBag.Title = "Alternative routing";
}

<p class="lead">Alternative routing</p>
<p>
    This action has been re-routed through to the AlternativeRouting action on the AlternativeController view controller.
</p>
